body {
  background-color: black;
}

button {
	-webkit-app-region: no-drag;
}

.tray-button {
    width: 32px;
    height: 32px;
	color: white;
	background-color: #E62117;
	transition: 0.2s ease;
	border: none;
  	margin-left: 3px;
  	outline: none;
  	border-radius: 50%;
}

.tray-button:hover {
	background-color: black;
}

#video {
	overflow:hidden;
    position:relative;
    height: 100%;
}

#video webview {
	left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
